.counter_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter_item {
    width: 33%;
    text-align: center;
}

.counter_number,
.counter_title {
    /* background: rgba(35, 93, 173, 1) 75%;
     */
    background: var(--counter-color);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.couter_number {
    font-size: 3rem;
    /* color: rgb(35, 93, 173); */
    /* color: var(--heading-color); */
    background: var(--counter-color);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 10px;
}

.counter_title {
    font-size: 1.5rem;
}

@media only screen and (max-width: 568px) {
    .counter_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 992px) {
    .counter_number {
        font-style: 2rem;
    }

    .counter_title {
        font-size: 1.2rem;
    }

    .counter_item {
        width: 30%;
    }
}

@media only screen and (max-width: 992px) {
    .counter_wrapper {
        font-style: 1.5rem;
    }

    .counter_title {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .counter_wrapper {
        flex-direction: column;
    }

    .counter_item {
        width: 100%;
        margin-bottom: 30px;
    }
}